@model HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
}
<h3>@Model.PageTitle</h3>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <h4>Employee ID : @Model.Employee.Id</h4>
                <h4>Name : @Model.Employee.Name</h4>
                <h4>City : @Model.Employee.Home</h4>
                <h4>MailID : @Model.Employee.MailId</h4>
                <h4>Phone Number : @Model.Employee.PhoneNumber</h4>
                <div class="card-footer text-center">
                    <a href="@Url.Action("ViewDetails","Home")" class="btn btn-primary">Back</a>
                    <a href="@Url.Action("Edit","Home",Model.Employee)" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete","Home",new { @Id = Model.Employee.Id})" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>