@model IEnumerable<ViewEmployee>
@{
    ViewBag.Title = "Employees List";
}
@{
    List<HomeDetailsViewModel> homeDetailsViewModels = new List<HomeDetailsViewModel>();
    foreach (var employee in Model)
    {
        homeDetailsViewModels.Add( new HomeDetailsViewModel()
        {
            Id = employee.Id,
            Name = employee.Name,
            PhoneNumber = employee.PhoneNumber,
            MailId = employee.MailId,
            department = employee.DepartmentName,
            Home = employee.Home
        });
    }
}
<h1>
    All Employees
</h1>

<div class="card-deck card m-3">
    <table class="text-center">
        <tr style="background-color:cyan">
            <td><p>Profile Image</p></td>
            <td><p>Employee-Name</p></td>
            <td><p>Department</p></td>
            <td><p>Actions  </p></td>
        </tr>
        @foreach (var employee in Model)
        {
            foreach (var homeDetails in homeDetailsViewModels)
            {
                if (employee.Id.Equals(homeDetails.Id))
                {
                    var department = (employee.DepartmentName.Equals(DepartmentSet.Default))?"Department not Assigned":@employee.DepartmentName.ToString();
                    <tr>
                        <td><img width="80px" height="60px" src="~/uploadedImages/@employee.Image" asp-append-version="true" /></td>
                        <td><h4>@employee.Name</h4></td>
                        <td><h5>@department</h5></td>
                        <td>
                            <a href="@Url.Action("Details", "Home", new { @id = employee.Id })" class="btn btn-primary">View</a>
                            <a href="@Url.Action("Edit", "Home", homeDetails)" class="btn btn-secondary">Edit</a>
                            <a href="@Url.Action("Delete", "Home", new { @Id = employee.Id })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>

<div style="margin-top:1cm" class="card-footer text-center">
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Back To Home</a>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}