@model IndexViewModel
@{
    ViewBag.Title = "Library Management";
}
<div>

    <table class="table table-borderless">
        <tr>
            <td>
                <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
                    <label  style="margin-top:20px" asp-for="SearchString">Search Books : </label>
                    <input  style="margin-top:20px" type="text" asp-for="SearchString" />
                    <input  style="margin-top:20px" type="submit" value="Search" />
                </form>
            </td>
            <td><button onclick="window.location.href = '@Url.Action("AddBook","Home")'" style="margin-left:700px;margin-top:20px">ADD</button></td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Author</th>
            <th>Published</th>
            <th>Price</th>
            <th>Updated</th>
            <th>Action</th>
        </tr>
        @{
            foreach (var book in Model.Books)
            {
                if (book.IsDeleted != true)
                {
                    if (book.AuthorName == null || book.Price == null || book.PublishYear == null)
                    {
                        if (book.AuthorName == null && book.Price == null && book.PublishYear == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else if (book.PublishYear == null && book.Price == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>@book.AuthorName</td>
                                <td>-</td>
                                <td>-</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else if (book.AuthorName == null && book.Price == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>-</td>
                                <td>@book.PublishYear</td>
                                <td>-</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else if (book.AuthorName == null && book.PublishYear == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Rs @book.Price</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else if (book.Price == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>@book.AuthorName</td>
                                <td>@book.PublishYear</td>
                                <td>-</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else if (book.PublishYear == null)
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>@book.AuthorName</td>
                                <td>-</td>
                                <td>Rs @book.Price</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                                <td>@book.BookName</td>
                                <td>-</td>
                                <td>@book.PublishYear</td>
                                <td>Rs @book.Price</td>
                                <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                    <a> | </a>
                                    <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><a href="@Url.Action("ViewBook","Home",book)">@book.BookId</a></td>
                            <td>@book.BookName</td>
                            <td>@book.AuthorName</td>
                            <td>@book.PublishYear</td>
                            <td>Rs @book.Price</td>
                            <td>@book.UpdatedOn.ToString("dd/MM/yyyy")</td>
                            <td>
                                <a href="@Url.Action("EditBook","Home",new {@bookId=book.BookId})">Edit</a>
                                <a> | </a>
                                <a href="@Url.Action("DeleteBook","Home",new {@bookId=book.BookId})">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
    <hr />
</div>